<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YeeBadgeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88AFBF151F12592E00934B19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AFBF2E1F12592E00934B19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AFBF391F12592E00934B19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
